bike-project-net-client/bike-project-net-client/bike-project-net-client/Connected Services/BikeSoapService/bike.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://controller.bikeproject/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="bike" targetNamespace="http://controller.bikeproject/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://127.0.0.1:7101/bike-project-server-bike-project-server-context-root/bikerservice?xsd=1" namespace="http://controller.bikeproject/" />
    </xsd:schema>
  </types>
  <message name="findBikeBySerial">
    <part name="parameters" element="tns:findBikeBySerial" />
  </message>
  <message name="findBikeBySerialResponse">
    <part name="parameters" element="tns:findBikeBySerialResponse" />
  </message>
  <message name="deleteBike">
    <part name="parameters" element="tns:deleteBike" />
  </message>
  <message name="deleteBikeResponse">
    <part name="parameters" element="tns:deleteBikeResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="saveBike">
    <part name="parameters" element="tns:saveBike" />
  </message>
  <message name="saveBikeResponse">
    <part name="parameters" element="tns:saveBikeResponse" />
  </message>
  <message name="updateBike">
    <part name="parameters" element="tns:updateBike" />
  </message>
  <message name="updateBikeResponse">
    <part name="parameters" element="tns:updateBikeResponse" />
  </message>
  <message name="getBikes">
    <part name="parameters" element="tns:getBikes" />
  </message>
  <message name="getBikesResponse">
    <part name="parameters" element="tns:getBikesResponse" />
  </message>
  <portType name="BikeController">
    <operation name="findBikeBySerial">
      <input wsam:Action="http://controller.bikeproject/BikeController/findBikeBySerialRequest" message="tns:findBikeBySerial" />
      <output wsam:Action="http://controller.bikeproject/BikeController/findBikeBySerialResponse" message="tns:findBikeBySerialResponse" />
    </operation>
    <operation name="deleteBike">
      <input wsam:Action="http://controller.bikeproject/BikeController/deleteBikeRequest" message="tns:deleteBike" />
      <output wsam:Action="http://controller.bikeproject/BikeController/deleteBikeResponse" message="tns:deleteBikeResponse" />
      <fault wsam:Action="http://controller.bikeproject/BikeController/deleteBike/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="saveBike">
      <input wsam:Action="http://controller.bikeproject/BikeController/saveBikeRequest" message="tns:saveBike" />
      <output wsam:Action="http://controller.bikeproject/BikeController/saveBikeResponse" message="tns:saveBikeResponse" />
      <fault wsam:Action="http://controller.bikeproject/BikeController/saveBike/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="updateBike">
      <input wsam:Action="http://controller.bikeproject/BikeController/updateBikeRequest" message="tns:updateBike" />
      <output wsam:Action="http://controller.bikeproject/BikeController/updateBikeResponse" message="tns:updateBikeResponse" />
      <fault wsam:Action="http://controller.bikeproject/BikeController/updateBike/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getBikes">
      <input wsam:Action="http://controller.bikeproject/BikeController/getBikesRequest" message="tns:getBikes" />
      <output wsam:Action="http://controller.bikeproject/BikeController/getBikesResponse" message="tns:getBikesResponse" />
    </operation>
  </portType>
  <binding name="bikerserviceBinding" type="tns:BikeController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="findBikeBySerial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteBike">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="saveBike">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="updateBike">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getBikes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="bike">
    <port name="bikerservice" binding="tns:bikerserviceBinding">
      <soap:address location="http://127.0.0.1:7101/bike-project-server-bike-project-server-context-root/bikerservice" />
    </port>
  </service>
</definitions>