Project RESTful/bike-project-java-client/src/main/java/bikeproject/model/bike.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.bikeproject/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://controller.bikeproject/" name="bike">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://controller.bikeproject/" schemaLocation="bikerservice1.xsd"/>
        </xsd:schema>
    </types>
    <message name="findBikeBySerial">
        <part name="parameters" element="tns:findBikeBySerial"/>
    </message>
    <message name="findBikeBySerialResponse">
        <part name="parameters" element="tns:findBikeBySerialResponse"/>
    </message>
    <message name="getBikes">
        <part name="parameters" element="tns:getBikes"/>
    </message>
    <message name="getBikesResponse">
        <part name="parameters" element="tns:getBikesResponse"/>
    </message>
    <message name="updateBike">
        <part name="parameters" element="tns:updateBike"/>
    </message>
    <message name="updateBikeResponse">
        <part name="parameters" element="tns:updateBikeResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="saveBike">
        <part name="parameters" element="tns:saveBike"/>
    </message>
    <message name="saveBikeResponse">
        <part name="parameters" element="tns:saveBikeResponse"/>
    </message>
    <message name="deleteBike">
        <part name="parameters" element="tns:deleteBike"/>
    </message>
    <message name="deleteBikeResponse">
        <part name="parameters" element="tns:deleteBikeResponse"/>
    </message>
    <portType name="BikeService">
        <operation name="findBikeBySerial">
            <input wsam:Action="http://controller.bikeproject/BikeController/findBikeBySerialRequest"
                   message="tns:findBikeBySerial"/>
            <output wsam:Action="http://controller.bikeproject/BikeController/findBikeBySerialResponse"
                    message="tns:findBikeBySerialResponse"/>
        </operation>
        <operation name="getBikes">
            <input wsam:Action="http://controller.bikeproject/BikeController/getBikesRequest" message="tns:getBikes"/>
            <output wsam:Action="http://controller.bikeproject/BikeController/getBikesResponse"
                    message="tns:getBikesResponse"/>
        </operation>
        <operation name="updateBike">
            <input wsam:Action="http://controller.bikeproject/BikeController/updateBikeRequest"
                   message="tns:updateBike"/>
            <output wsam:Action="http://controller.bikeproject/BikeController/updateBikeResponse"
                    message="tns:updateBikeResponse"/>
            <fault message="tns:Exception" name="Exception"
                   wsam:Action="http://controller.bikeproject/BikeController/updateBike/Fault/Exception"/>
        </operation>
        <operation name="saveBike">
            <input wsam:Action="http://controller.bikeproject/BikeController/saveBikeRequest" message="tns:saveBike"/>
            <output wsam:Action="http://controller.bikeproject/BikeController/saveBikeResponse"
                    message="tns:saveBikeResponse"/>
            <fault message="tns:Exception" name="Exception"
                   wsam:Action="http://controller.bikeproject/BikeController/saveBike/Fault/Exception"/>
        </operation>
        <operation name="deleteBike">
            <input wsam:Action="http://controller.bikeproject/BikeController/deleteBikeRequest"
                   message="tns:deleteBike"/>
            <output wsam:Action="http://controller.bikeproject/BikeController/deleteBikeResponse"
                    message="tns:deleteBikeResponse"/>
            <fault message="tns:Exception" name="Exception"
                   wsam:Action="http://controller.bikeproject/BikeController/deleteBike/Fault/Exception"/>
        </operation>
    </portType>
    <binding name="bikerserviceBinding" type="tns:BikeService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findBikeBySerial">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBikes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateBike">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="saveBike">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteBike">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="bike">
        <port name="bikerservice" binding="tns:bikerserviceBinding">
            <soap:address location="http://127.0.0.1:7101/bike-project-server-bike-project-server-context-root/bikerservice"/>
        </port>
    </service>
</definitions>